
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    position: relative;
}
header{
    background: #777;
    padding-bottom: 30px;
}


header ul{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    background-color: black;
}

header ul li{
    margin:  0px 50px;   
}

header ul a{
    font-size: 23px;
    color: white;
    text-decoration-line: none;
    cursor: pointer;
}

header h1{
    padding: 40px;
    padding-top: 70px;
    font-size: 130px;
    text-align: center;
    color: white;
}

.latest-album{
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 200;
    margin: 10px auto;
    background: transparent;
    cursor: pointer;
    color: white;
}

.play-btn{
    margin: auto;
    cursor: pointer;
    display: block;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 45px;
    font-weight: 200;
    margin: 20px auto;
    background: inherit;
    color: #56CCF2;
    
}

.container{
max-width: 1100px;
margin: 0 auto;
padding: 30px 30px;
}
section h2{
    font-family: "Sofia", sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.tour-item{
   
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    color: #777;
    font-size: 22px;
}

.tour-date{
    width: 12%;
    color: black;
    font-size: 22px;
}

.tour-place{
    width: 23%;
    color: #777;
    font-size: 22px;
}
.tour-spec-place{
    width: 43%;
    color: #777;
    font-size: 22px;
}


.buy-btn{
    width: 20%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 10px;
    font-weight: 670;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    display: flex;
    margin-top: 40px;
    padding: 20px;
    background: #56CCF2;
    height: 140px;
}

footer ul{
    display: flex;
    list-style-type: none;
}

.footer-img{
    width: 30px;
}

.footer-title{
    text-align: center;
    color: white;
    padding-top: 10px;
    width: 50%;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
}

.footer-icons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-icons li{
    padding: 10px;
    margin: 0px 20px;
}





#about img{
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

#about p{
    font-size: 24px;
    margin: 20px;
    color: #777;
}

.cart-holder {
    border: 4px solid #56CCF2;
    background: transparent;
    color: white;
    border-radius: 7px;
    padding: 6px 12px;
    position: absolute;
    font-size: 17px;
    right: 2%;
    cursor: pointer;
}

#cart-number{
    color: white;
    font-size: 29px;
    position: absolute;
    right: 8px;
}

#music-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.prod-images{
    height: 100%;
    width: 100%;
    margin: 25px;
    transform-origin: center center;
    object-fit: cover;
}


.prod-details{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}

.shop-item-button{
    cursor: pointer;
    padding: 8px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}

#music h3{
    text-align: center;
    font-size: 38px;
}

#music span{
    font-size: 20px;
}

.price{
    margin-left: -120px;
}

.merch-images{
    width: 90%;
    margin: 25px;
}

#merch-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#merch h3{
    text-align: center;
    font-size: 38px;
}

#merch span{
    font-size: 20px;
}


.cart-btn-bottom {
    display: flex;
    padding: 15px;
    background-color: #777;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
}

.cart-btn-bottom a{
    text-decoration: none;
    color: #56CCF2;
    font-weight: 700;
}

#cart{
    display: none;
    position: fixed;
    right: 30px;
    top: 54px;
    background-color: white;
    width: 30%;
    border: 2px solid red;
    padding: 20px;
    min-height: 50vh;
}

.cancel {
    position: absolute;
    cursor: pointer;
    color: rgb(121, 117, 117);
    top: 0;
    right: 0;
    margin: 20px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(121, 117, 117);
    border-radius: 7px;
    padding: 5px;
}

.cart-row {
    display: flex;
}

.cart-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}
.cart-quantity {
    width: 35%;
}

.purchase-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    background: #56CCF2;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8%;
    padding: 12px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    font-size: 1.4rem;
    margin: 20px;
}

#notification{
    display: none;
    background-color:#56CCF2;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 25%;
    padding: 40px 20px;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 10px;
}
.newdiv{
    display: flex;
}

.cart-img{
    width: 111px;
    border-radius: 22px;
    padding: 10px;
    
}

.cart-item{
    display: flex;
}

.cart-albumname{
    color: #114d61;
    display: inline-block;
    font-size: 18px;
    padding-top: 40px;
}

.cart-productprice{
    color: #114d61;
    display: inline-block;
    padding-top: 34px;
    font-size: 30px;
}


.input-quantity{
    width: 45px;
    height: 40px;
    border: 1px solid rgb(0, 204, 255);
    margin: top;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 35px;
    padding: 7px;
}

.remove-btn{
    color: white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border: none;
    border-radius: 8%;
    height: 30px;
    outline: none;
    padding: 0px 7px;
    margin-left: 15px;
}

#total{
    margin-left: 200px;
}

#totalprice{
    margin-left: 5px;
}